<div class="container">
  <% if @user %>

    <%= render partial: "shared/flash_messages", flash: flash %>
    <div class="row">
      <div class="control-group" id="fields">
        <div class="controls" id="profs">
          <%= form_tag(collect_fan_data_path(format: 'csv'), id:"fan_collector", class: "form-horizontal",'data-toggle':"validator") do %>
            <%= render "input_page" %>
            <div class="row" >
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <div class="col-xs-offset-1 col-xs-7">
                    <button type="submit" class="btn btn-info">submit</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
	  </div>
  <%else%>
    <%flash[:notice]= "Please, login to Facebook to continue" %>
  	      <%= render partial: "shared/flash_messages", flash: flash %>

  <% end %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<script type="application/javascript">
    $(function()
    {

      $(document).on('click', '.btn-add', function(e)
      {
        e.preventDefault();

        var controlForm = $('.controls form:first'),
            currentEntry = $(this).parents('.param_row:last'),
            newEntry = $(currentEntry.clone()).appendTo('.param_container:last');

        newEntry.find('input').val('');
        newEntry.find('.btn-add')
            .removeClass('btn-default').addClass('btn-danger')
            .removeClass('btn-add').addClass('btn-remove')
            .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove   ');
        $('#fan_collector').validator('update');

      }).on('click', '.btn-remove', function(e)
      {
        $(this).parents('.param_row:last').remove();

        e.preventDefault();
        $('#fan_collector').validator('update');
        return false;
      });
    });


</script>
